# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  - main

pool:
  # vmImage: ubuntu-latest
  name: 'aws-oidc-pool'

  
variables:
  AWS_ACCOUNT_ID: "085494094526"
  AWS_REGION: us-west-2
  ECR_REPOSITORY: gh/repo
  CFN_STACK_NAME: enhanced-calculator-ecr-infrastructure
  ENVIRONMENT: production
  ADO_ROLE_ARN: arn:aws:iam::085494094526:role/ADORole


steps:
  - checkout: self
    displayName: 'Checkout code'
  # - task: Maven@3
  #   inputs:
  #     mavenPomFile: 'pom.xml'
  #     mavenOptions: '-Xmx3072m'
  #     javaHomeOption: 'JDKVersion'
  #     jdkVersionOption: '1.11'
  #     jdkArchitectureOption: 'x64'
  #     publishJUnitResults: true
  #     testResultsFiles: '**/surefire-reports/TEST-*.xml'
  #     goals: 'package'
